CompileFlags:
  Add: [-std=c++23,
        -Wall,
        -Werror=deprecated-non-prototype,
        -Werror=implicit-function-declaration,
        -Werror=implicit-int,
        -Werror=return-type,
        -Werror=strict-prototypes,
        -Wextra,
        -Wpedantic,
        -mcpu=cortex-m0,
        "-I/home/fagci/projects/k5-fazotron/src",
        "-I/home/fagci/projects/k5-fazotron/src/external/CMSIS_5/CMSIS/Core/Include",
        "-I/home/fagci/projects/k5-fazotron/src/external/CMSIS_5/Device/ARM/ARMCM0/Include",
        # "-I/usr/share/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi/arm-none-eabi/include/",
        # "-I/usr/share/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi/arm-none-eabi/include/c++/",
        # "-I/usr/share/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi/arm-none-eabi/include/c++/13.2.1/",
        # "-I/usr/share/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi/arm-none-eabi/include/c++/13.2.1/arm-none-eabi/"
      ]
  Compiler: arm-none-eabi-g++
